@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color:darkgray ;">

<div class="text-center" style="background-color:powderblue;">
    
    <h1 class="display-10">subscribe to my youtube page</h1>

    <style>
        button{background-color:brown;}
    </style>
    <button><a href="https://youtube.com/">SUBSCRIBE</a></button>
    
    <p style="font-size:medium">Check other calculator Apps<br>HERE<br> <a href="">Goto calculator App</a>.</p>   
    
</div>


<div>
    <img src="Screenshot 2023-08-28 133506.png" width="50" height="60" />
    <img src="Screenshot 2023-08-28 133506.png" width="50" height="60" />
    <img src="Screenshot 2023-08-28 133506.png" width="50" height="60" />
    <img src="Screenshot 2023-08-28 133506.png" width="50" height="60" />
    <img src="Screenshot 2023-08-28 133506.png" width="50" height="60" />
    <img src="Screenshot 2023-08-28 133506.png" width="50" height="60" />
</div>

</body>
